{% extends 'passwordApp/base.html' %}
{% load static %}


{% block content %}



<br><br><br> 
<!-- shadow-lg p-3 mb-5 bg-body rounded mx-auto" style="width:50% -->
<div id="generate-password" class="container">
    <h1 class="text-center">Password Generator</h1>
    <br><br>
    <div class="row">
        <div class="col col-2"> 
        </div>
        <div class="col col-8" id="form">
            <form action="{% url 'passwordApp:generatedpassword' %}" class="me-2 mt-2"
                style="width:80%; font-size:20px ">
                <select name="length"> 
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12" selected="selected">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                </select>  <span class="text-sm-left me-3">Length</span>
                <br><br>
               
                <input type="checkbox" name="uppercase" class="text-sm-left me-2 check"><span>Uppercase</span>
                <br><br>
                <input type="checkbox" name="numbers" class="text-sm-left me-2"><span>Numbers</span>
                <br><br>
                <input type="checkbox" name="special-characters" class="text-sm-left me-2"><span>Special Characters</span>
                <br> <br> <br>   

                <div id="btn" class="text-center">
                    <button type="submit" value="Generate Password" class="btn">Generate Password</button>
                  </div>
             </form>

        </div>
        <div class="col col-2">

        </div>
 
    </div>
</div>
{% endblock %}